.hospital-main {
  padding: 50px;
  text-align: center;
  background: #c2d2f4a4;
}

/* HEADING */
.hospital-main h1 {
  margin-bottom: 25px;
}

/* FILTER */
.filter-row {
  display: flex;
  justify-content: center;
  gap: 45px;
  margin-bottom: 18px;
  flex-wrap: wrap;
  font-weight: 600;
}

.filter-row select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.filter-row button {
  padding: 10px 18px;
  background: #e53935;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

/* AI TEXT */
.ai-text {
  margin-bottom: 20px;
  color: #555;
}

/* GRID */
.hospital-grid {
    margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 1000px) {
  .hospital-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* CARD */
.hospital-box {
  background: white;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #eee;
  transition: 0.3s;
}

.hospital-box:hover {
  transform: translateY(-5px);
}

/* IMAGE PLACEHOLDER */
.hospital-img {
  height: 120px;
  background: #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* BUTTONS */
.hospital-btns {
  margin-top: 10px;
  display: flex;
  gap: 8px;
}

.hospital-btns button {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.hospital-btns button:nth-child(1) {
  background: black;
  color: white;
}

.hospital-btns button:nth-child(2) {
  background: #eee;
}

.hospital-btns button:nth-child(3) {
  background: #e53935;
  color: white;
}

/* NO DATA */
.no-data {
  grid-column: span 4;
  color: #888;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.confirm-btn {
  background: green;
  color: white;
  margin: 10px;
  padding: 8px 12px;
}

.close-btn {
  background: red;
  color: white;
  padding: 8px 12px;
}

.success {
  color: green;
}

.hospital-img {
  width: 100%;
  height: 180px;      /* fixed height */
  overflow: hidden;   /* extra part hide */
  border-radius: 12px;
}

.hospital-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* 🔥 BEST OPTION */
  display: block;
}